{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <form method="post">
        {% if error %}
            <div class="py-4 ">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error</strong> Usuario o clave invalida
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="bg-white p-5 rounded-5 text-secondary" style="width: 25rem; height: 40rem ">
            <div class="d-flex justify-content-center">
                <img src="{{ asset('assets/login-icon.svg') }}" alt="alt-icon" style="height: 7rem"/>
            </div>
            <h1 class="h3 mb-3 font-weight-normal text-center mt-3">Inicio de sesión</h1>

            <div>
                <div><img src="{{ asset('assets/username-icon.svg') }}" alt="username-icon" style="height: 1rem"></div>
                <label for="inputUsername">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                       autocomplete="username" required autofocus>
            </div>

            <div>
                <div><img src="{{ asset('assets/password-icon.svg') }}" alt="password-icon" style="height: 1rem"></div>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </div>
    </form>
{% endblock %}
