{% extends 'base.html.twig' %}

{% block title %}Inicio Partida | {{ parent() }}{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <div class="container-fluid">
        <div class="row justify-content-center" id="dom-del-juego">
            <div class="col-md-4 mt-4 text-center">
                <div id="div-imagenes-de-juego">
                    <div>
                        <h1><span id="descripcion-palabra">{{ urlImagen1.0.descripcion | capitalize }}</span></h1>
                    </div>
                    <div id="divImagen">
                        <img id="imagenJuego" src="{{ asset(urlImagen1.0.imagenUrl) }} "
                             style="width: 100%;height: 100%">
                    </div>
                    <div id="imagen-de-espera">
                        <h1 id="header-espera">GWAP</h1>
                        <ul id="lista-previa-inicio-partida">
                            <li class="lista-espera">El juego Inicia cuando haya 3 jugadores</li>
                            <li class="lista-espera"> Recuerde enviar una palabra a la vez</li>
                            <li class="lista-espera"> Puede usar la tecla ENTER o dar clic al boton enviar para enviar
                                la palabra
                            </li>
                            <li class="lista-espera">Si sale de la partida no podras unirte nuevamente y tampoco podras
                                unirte a otras
                                partidas
                            </li>
                            <li class="lista-espera">No podras crear una partida nueva hasta que esta partida haya
                                concluido
                            </li>
                        </ul>
                    </div>
                </div>
                <h2 class="mt-5">Palabras Relacionadas</h2>
                <ul id="lista de palabras">

                </ul>
                <form method="post" id="enviarPalabras">
                    <label for="respuesta" class="form-label float-start"> <strong>Ingresar Palabras</strong></label>
                    <input id="palabraRelacionada" type="text" name="respuesta" class="form-control" autofocus required>
                    <button type="submit" class="input-group-text btn btn-primary mt-3" id="btn-palabras"> Enviar
                    </button>
                </form>
                <div>
                    cuenta regresiva
                </div>
                <div id="cronometro">

                </div>
            </div>

            <div class="col-md-6">
                <div id="resultados-parciales">
                    {% include 'jugar/resultadosParciales.html.twig' %}
                </div>
            </div>
        </div>
        <div id="final-partida">
            <h1>El juego ha concluido</h1>
            <a href="{{ path('app_estadisticas_partida') }}" class="btn btn-primary">Ir a estadisticas</a>
        </div>
    </div>

    <script type="text/javascript">
        let control = 0
        let totalTime = 10
        var idImagen = '{{ idImagenes.0.id }}'
        $('#btn-palabras').attr('disabled', 'disabled')
        $('#palabraRelacionada').attr('disabled', 'disabled')
        $('#descripcion-palabra').hide()
        $('#divImagen').hide()
        $('#final-partida').hide()

        window.onload = numeroUsuarios;

        function numeroUsuarios() {
            var ruta = Routing.generate('app_contador_usuarios')
            var idSala = '{{ sala }}'
            $.ajax({
                type: 'POST',
                url: ruta,
                data: ({idSala: idSala}),
                async: true,
                dataType: "json",
                success: function (data) {
                    console.log(data['sala'])
                    if (data['sala'] < 3) {
                        setTimeout("numeroUsuarios()", 1000)
                    } else {
                        $('#btn-palabras').removeAttr('disabled')
                        $('#palabraRelacionada').removeAttr('disabled')
                        $('#descripcion-palabra').show('slow')
                        $('#divImagen').show('slow')
                        $('#imagen-de-espera').hide()
                        updateClock()
                    }
                }
            })
        }
        function updateClock() {
            $("#cronometro").text(totalTime)
            if (totalTime === 0 ) {
                $('#descripcion-palabra').text('{{ urlImagen2.0.descripcion | capitalize }}')
                $("#imagenJuego").attr("src", "{{ asset(urlImagen2.0.imagenUrl) }}");
                idImagen = {{ idImagenes.0.imagenId_2 }}
                totalTime = 10
                control++
                console.log(control)
                updateClock()
                if (control === 2) {
                    $('#descripcion-palabra').text('{{ urlImagen3.0.descripcion | capitalize }}')
                    $("#imagenJuego").attr("src", "{{ asset(urlImagen3.0.imagenUrl) }}");
                    idImagen = {{ idImagenes.0.imagenId_3 }}
                }
            }else if(control===3){
                $('#dom-del-juego').hide()
                $('#final-partida').show('slow')
            } else {
                if(control<3){
                    totalTime -= 1;
                    setTimeout("updateClock()", 1000);
                }

            }
        }

        $(document).ready(function () {
            tempo();
        });

        function tempo() {
            $("#resultados-parciales").load(
                Routing.generate('app_resultados_parciales', {id: idImagen})
            )
            setTimeout(tempo, 500);
        }

        $("#enviarPalabras").submit(function (e) {
            e.preventDefault()
            var data = {}
            var ruta = Routing.generate("app_guardar_palabras")
            var palabraRelacionada = document.getElementById("palabraRelacionada").value
            data.idImagen = idImagen
            $.ajax({
                type: 'POST',
                url: ruta += '?' + $.param(data),
                data: ({palabra: palabraRelacionada}),
                async: true,
                dataType: "json",
                success: function (data) {
                    $('#palabraRelacionada').val('')
                    console.log(data['palabra'], data['imagen'])
                }
            });
        });
    </script>
{% endblock %}
