{% extends 'base.html.twig' %}

{% block title %}Inicio Partida | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4 mt-4 text-center">
                <div class="card-header" id="descripcion-palabra">
                    <h1>{{ url.0.descripcion | capitalize }}</h1>
                </div>
                <div class="card-body" id="divImagen">
                    <img src="{{ asset(url.0.imagenUrl) }}" style="height: 80%;width: 80%">
                </div>

                <h2 class="mt-5">Palabras Relacionadas</h2>
                <ul id="lista de palabras">

                </ul>
                <form method="post" id="enviarPalabras">
                    <label for="respuesta" class="form-label float-start"> <strong>Ingresar Palabras</strong></label>
                    <input id="palabraRelacionada" type="text" name="respuesta" class="form-control" autofocus required>
                    <button type="submit" class="input-group-text btn btn-primary mt-3" id="btn-palabras"> Enviar
                    </button>
                </form>
                <div>
                    cuenta regresiva
                </div>
                <div id="cronometro">

                </div>
            </div>

            <div class="col-md-6">
                <div id="resultados-parciales">
                    {% include 'jugar/resultadosParciales.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        window.onload = numeroUsuarios;
        function numeroUsuarios() {
            var ruta = Routing.generate('app_contador_usuarios')
            var idSala = '{{ sala }}'
            $.ajax({
                type: 'POST',
                url: ruta,
                data: ({idSala: idSala }),
                async: true,
                dataType: "json",
                success: function (data) {
                    console.log(data['sala'])
                    if(data['sala'] <3){
                        setTimeout("numeroUsuarios()",5000)
                        $('#btn-palabras').attr('disabled', 'disabled')
                        $('#palabraRelacionada').attr('disabled', 'disabled')
                    }else{
                        mensaje()
                        $('#btn-palabras').removeAttr('disabled')
                        $('#palabraRelacionada').removeAttr('disabled')
                    }
                }
            })

        }
        function mensaje(){
            alert('va a comenzar el juego')
        }

        // window.onload = updateClock;
        // var divImagen = $('#divImagen').hide()
        // var totalTime = 60;
        // function updateClock() {
        //     document.getElementById('cronometro').innerHTML = totalTime;
        //     if(totalTime==0){
        //         divImagen.show('slow')
        //         // totalTime = 60
        //         // updateClock()
        //     }else{
        //         totalTime-=1;
        //         setTimeout("updateClock()",1000);
        //     }
        // }

        $(document).ready(function () {
            tempo();
        });

        function tempo() {
            $("#resultados-parciales").load(
                Routing.generate('app_resultados_parciales')
            )
            setTimeout(tempo, 1000);
        }

        $("#enviarPalabras").submit(function (e) {
            e.preventDefault()
            var data = {}
            var ruta = Routing.generate("app_guardar_palabras")
            var palabraRelacionada = document.getElementById("palabraRelacionada").value
            var idImagen = '{{ idImagen.0.id }}'
            data.idImagen = idImagen
            $.ajax({
                type: 'POST',
                url: ruta += '?' + $.param(data),
                data: ({palabra: palabraRelacionada}),
                async: true,
                dataType: "json",
                success: function (data) {
                    $('#palabraRelacionada').val('')
                    console.log(data['palabra'], data['imagen'])
                }
            });
        });
    </script>
{% endblock %}
