{% extends 'base.html.twig' %}

{% block title %}Salas | {{ parent() }}{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/styleDashboard.css') }}">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand d-flex gap-2">
                <i class="bi bi-joystick"></i>
                <span>Gwap</span>
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#menu"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ms-auto gap-5">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">Estadísticas</a>
                    </li>
                    <li class="nav-item"><a href="{{ path('app_reglas') }}" class="nav-link active">Reglas</a></li>
                    <li class="nav-item"><span class="nav-link active"><i
                                    class="bi bi-person-fill"></i> {{ usuario.userIdentifier }}</span></li>
                    <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link active">Salir</a></li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="card-header">
                Partidas Disponibles
            </div>

            <div class="card-body" id="salas-disponibles" style="overflow-y: auto">
                {% include 'dashboard/salas.html.twig' %}
            </div>

            <div class="text-center mt-2">
                <a href="{{ path('app_dashboard_crearpartida') }}"
                   class="btn btn-primary fs-3">
                    Crear partida</a>
            </div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="mt-3">
                    <div class="alert alert-danger alert-dismissible fade show rounded-4 fw-semibold" role="alert">
                        <strong class="px-3">Error </strong>{{ flashMessage }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            tempo();
        });

        function tempo() {
            $("#salas-disponibles").load(
                Routing.generate('app_salas_disponibles')
            )
            setTimeout(tempo, 4000);
        }
    </script>
{% endblock %}
